/* Custom Stylesheet */

.primary-color {
  color: #FFFFFF !important;
}
.secondary-color {
  color: #008BD6 !important;
}
.third-color {
  color: #0059B2 !important;
}
.four-color {
  color: #AF001D !important;
}
.five-color {
  color: #0f9d58 !important;
}

.primary-bg-color {
  background: #008BD6 !important;
}
.secondary-bg-color {
  background: #FFFFFF !important;
}
.third-bg-color {
  background: #0059B2 !important;
}
.four-bg-color {
  background: #AF001D !important;
}

.header-line {
  padding: 0.5em; /*文字周りの余白*/
  /*color: #008BD6; !*文字色*!*/
  /*background: #fffaf4;  !*背景色*!*/
  border-left: solid 5px #72B8FF; /*左線（実線 太さ 色）*/
}

.ml-50 {
  margin-left: 5rem;
}